buoi_03_nguyentanloc/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="order" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customer" type="xs:string"/>
							<xs:element name="products">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="product" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="id" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:unique name="UniqueProductIdWithinOrder">
										<xs:selector xpath="product"/>
										<xs:field xpath="@id"/>
									</xs:unique>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:unique name="UniqueOrderIdDocWide">
				<xs:selector xpath="order"/>
				<xs:field xpath="@id"/>
			</xs:unique>
		</xs:complexType>
	</xs:element>
</xs:schema>

